body {
    font-family: Arial, sans-serif;
    background-color: #f9f3f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container {
    width: 95%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 80px; /* Añade margen superior para dejar espacio para el encabezado */
    margin-left: auto;
    margin-right: auto; /* Centra el contenedor */

}


.logo {
    display: flex;
    align-items: center;
    font-size: 34px;
    color: #a42323;
    font-weight: bold;
    margin-left: 20px;
}

.logo img {
    height: 50px;
    margin-right: 12px;
    filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.4));
}

.inicio-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}

.content {
    margin-top: 25px;
    text-align: left;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.specialties {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.specialty {
    width: 150px;
    text-align: center;
}

.specialty img {
    width: 100%;
    max-width: 140px;
    height: auto;
    margin-bottom: 12px;
}

.specialty button {
    background-color: #a42323;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.specialty.add button {
    background-color: #4CAF50; /* Cambia el color para diferenciar el botón de añadir */
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.close {
    color: #a42323;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.modal-content input[type="text"] {
    width: 94%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
